@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    text-align: center;
    color: orange;
    background-color: rgb(24, 22, 22);
    font-family: "Roboto", sans-serif;
}
h2{
    font-weight: normal;
}
#mesaj{
    font-weight: bold;
}
